*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  max-width: 1200px; 
  block-size: 100%;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: auto;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  margin: auto;
  width: 1140px;
  grid-template-columns: 711px 399px;
  gap: 30px;
  align-items: end;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  margin-top: 78px;
  display: inline-block;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

fieldset {
  border: 0;
}

.search-form__fieldset {
  position: relative;
  display: inline-block;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
  align-items: center;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 5px;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 1);
  border-left: none;
  border-right: none;
  appearance: none;
  min-width: 225px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfie:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 2px;
}

.search-form__textfield:active {
  border: 1px solid rgba(255, 255, 255, 1);
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  border: 1px solid rgba(255, 255, 255, 1);
  margin-right: 5px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 1);
  width: 15px;
  height: 15px;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 2px;
}

.search-form__label:focus {
  outline: none;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: inherit;
  min-height: 34px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 2px;
}

.search-form__submit-button {
  display: inline-block;
  min-width: 194px;
  margin-top: 20px;
}

.content__details {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: end;
  gap: 26px;
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 94%;
  letter-spacing: 0%;
  width: 100%;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__card-link {
  display: block;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 198px;
  width: 100%;
  line-height: 100%;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px; 
  overflow-y: auto;
  width: 100%;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 2px;
}

.content__list-item {
  display: block;
  position: relative;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link-current {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 2px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 196px;
  gap: 6px;
}

.content__video-card-thumbnail {
  width: 200px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.content__details:has(.error-template:not(:empty)) .title {
  align-self: flex-start; /* Прижимаем к верхнему краю */
  margin-bottom: 0; /* Сбрасываем отступ */
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
